:root {
  --icon-fontSize-sm: 1rem;
  --icon-fontSize-md: 1.25rem;
  --icon-fontSize-lg: 1.5rem;
}

*:focus-visible {
  outline: 2px solid var(--mui-palette-primary-main);
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.ant-upload-select {
  width: 100%;
}

.ant-input:hover,
.ant-select-selector:hover {
  border-color: #04ba6b !important;
}

.ant-input:focus,
.ant-select-selector:focus {
  border-color: #04ba6b !important;
  box-shadow: 0 0 0 2px rgba(4, 186, 107, 0.2) !important;
}

.zoom-in {
  animation: zoomIn 5s forwards;
}
@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
